openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Stations
  description: List of nearest stations.
- name: Settlement
  description: Information about the city nearest to the specified point.
- name: Carrier
  description: Retrieves carrier details based on the carrier code.
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - Stations
      summary: Find nearest stations
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: Latitude
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: Longitude
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: Search radius
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: Response format (json or xml)
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: Language
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/nearest_settlement/:
    get:
      tags:
      - Settlement
      summary: Find nearest settlement
      operationId: getNearestSettlement
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: Latitude
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: Longitude
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: Search radius
        required: false
        schema:
          type: integer
      - name: lang
        in: query
        description: Language
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
  /v3.0/carrier/:
    get:
      tags:
      - Carrier
      summary: Request carrier details
      operationId: getCarrier
      parameters:
      - name: apikey
        in: query
        required: true
        description: API key for access
        schema:
          type: string
      - name: code
        in: query
        required: true
        description: Carrier code in the default encoding system (Yandex).
        schema:
          type: string
      - name: system
        in: query
        required: false
        description: Encoding system for the carrier code. Default is "yandex".
        schema:
          type: string
      - name: lang
        in: query
        required: false
        description: Language for the response
        schema:
          type: string
      - name: format
        in: query
        required: false
        description: Response format. Defaults to "json".
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResponse'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    Settlement:
      type: object
      properties:
        distance:
          type: number
          description: Расстояние до найденного города, в километрах
        code:
          type: string
          description: Код города в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название города
        popular_title:
          type: string
          description: Общепринятое название города
        short_title:
          type: string
          description: Краткое название города
        lat:
          type: number
          description: Широта
        lng:
          type: number
          description: Долгота
        type:
          type: string
          description: Тип транспортного пункта (station — станция; settlement — поселение)
    CarrierResponse:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/Carrier'
    Carrier:
      type: object
      properties:
        code:
          type: integer
          description: Carrier code in the selected encoding system.
        contacts:
          type: string
          description: Contact details of the carrier.
        url:
          type: string
          description: Website of the carrier.
        title:
          type: string
          description: Name of the carrier.
        phone:
          type: string
          description: Carrier's phone number.
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
          description: Legal address of the carrier.
        logo:
          type: string
          description: URL to the carrier's logo in raster format.
        email:
          type: string
          description: Email address of the carrier.
    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
          description: ICAO code.
        sirena:
          type: string
          description: Sirena code.
        iata:
          type: string
          description: IATA code.

